@import './assets/styles/variables.scss';
@import './assets/styles/icons.scss';


body {
  margin: 0;
  font-family: 'Open Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  grid-auto-rows: 24%;
  grid-auto-columns: 100%;

  div {
    img {
      width: 100%;
    }
  }
}

.wrapper div:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.wrapper div:nth-child(20) {
  grid-column: 5 / 7;
  grid-row: 5 / 3;
}

.header-container{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;

  .logo {
    color: $primary-blue;
    font-size: 32px;
    float: left;
    font-weight: normal;
  }
}


.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;    
  margin: 0;

  @media (max-width: 600px) {
    width: 100%;
    flex-flow: unset;
    padding: 20px 0 10px;
    justify-content: space-between;
    flex-flow: unset;
  }

  ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li {
      display: inline-block;
      padding: 0 15px;
      height: 50px;
      font-size: 14px;
      line-height: 3.2;
      white-space: nowrap;

      &:last-child {
        margin-right: 40px;      }

      @media (max-width: 600px) {
        padding: 0 5px;
      }
      a {
        text-decoration: none;
        color: $primary-grey;

        &:hover {
          color: $primary-blue;
        }

        [class^="icon-"], [class*=" icon-"] {
          display: list-item;
          line-height: 1px;
        }
      }      
    }    
  }

  .search {
    .icon-search {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      background-color: $primary-grey;
      right: 30px;
      border-radius: 25px;
    }

    .search-input {
      border-radius: 20px;
      padding: 10px;
      background-color: $white;;
      background-clip: padding-box;
      border: 2px solid $secondary-grey;   
    }
  }
}
 

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;    
  }

  .wrapper div:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .wrapper div:nth-child(8) {
    grid-column: 1/ 3;
    grid-row: 5 / 3;

  }

  .wrapper div:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
  }

  .wrapper div:nth-child(20) {
    grid-column: auto;
    grid-row:auto;
  } 
  
}


@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;    
  }

  .wrapper div:nth-child(5),
  .wrapper div:nth-child(2) ,
  .wrapper div:nth-child(8) ,
  .wrapper div:nth-child(20)  {
    grid-column: auto;
    grid-row: auto;
  }
  
}
